<configuration>
    <jmxConfigurator/>
    <timestamp key="byDay" datePattern="yyyyMMdd"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level Request:%X{requestId} User:%X{username} %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <logger name="com.deezer" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>