/* main */
.grid-container {
  margin-top: 2%;
  max-width: 80%;
}

.cell {
  cursor: pointer;
  padding-bottom: 0.9375rem;
}

.artist-page .followers-count.suggestion-subtitle {
  margin: 0 0 5% 15%;
}

.card.card-playlist-hover.slide {
  padding-right: 25px;
}

.card.card-playlist-hover.genre.slide {
  height: 120px;

  a {
    img {
      filter: brightness(80%);
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }

  .card-playlist-hover-details {
    bottom: 25px;
    color: #fff;
    left: 16px;
    pointer-events: none;
    position: absolute;
    right: 16px;
    z-index: 4;

    p {
      font-weight: 600;
      word-wrap: break-word;
      letter-spacing: 2px;
      max-height: 60px;
    }
  }
}

.rectangular a{
  .card-playlist-hover-icons {
    top: 40%;
  }

  .img-container {
    display: flex;
    height: 153px;

    img {
      width: 50%;
      object-fit: cover;
    }

    img.bw-image {
      filter: grayscale(100%);
    }
  }
  .card-playlist-like{
    padding-left: 13px;
    padding-right: 13px;
  }
}

i[class^='fa'] {
  font-size: 1.2rem;
  cursor: pointer;
}

i.header {
  cursor: auto;
}

aside {
  margin-top: 5vh;
}

.random__song {
  position: fixed;
  background-color: #ff5722;
  cursor: pointer;
  border-radius: 50%;
  right: 2%;
  z-index: 5;
}

.random__song:focus {
  outline: none;
}

.random__song:hover {
  filter: alpha(opacity=80);
  opacity: .8;
}

i.fa-dice-three {
  color: #ffffff;
  padding: 0.7em 0.8em;
  font-size: 1.5em;
}

.card-playlist-hover-title {
  font-size: 1.1vw;
  font-weight: 400;
  margin-bottom: 0.2rem;
}

.card-playlist-hover-subtitle {
  font-size: 1rem;
  font-weight: 400;
  color: #616161;
}

.card-playlist-hover {
  position: relative;
  transition: all 0.35s ease;
}

.card-playlist-hover-details {
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}

.card-playlist-hover-details > :last-child {
  margin-bottom: 0;
}

.card-playlist-hover-icons {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 50%;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.card-playlist-hover-icons button i {
  display: block;
  font-size: 2.5vw;
  text-align: center;
  color: #fefefe;
}

.card-playlist-hover-icons button i:hover {
  cursor: pointer;
  outline: none;
  color: #ff5722;
  font-size: 2.7vw;
}

.card-playlist-hover-icons button {
  margin: 2px;
  opacity: 0;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
  transition: all 0.35s ease;
}

.card-playlist-hover:hover img {
  filter: alpha(opacity=80);
  opacity: .8;
}

.card-playlist-hover:hover button {
  transition: all 0.35s ease;
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.card-playlist-hover-icons button:focus {
  outline: none;
}

.card-playlist-hover:hover button:nth-child(2),
.card-playlist-hover.hover a:nth-child(2) {
  transition-delay: 0.1s;
}

.card-playlist-hover:hover button:nth-child(3),
.card-playlist-hover.hover button:nth-child(3) {
  transition-delay: 0.2s;
}

.card-playlist-hover img {
  border-radius: 2%;
  width: 100%;
}

.card {
  border: none;
  background: transparent;
}

.underline {
  width: 100px;
  height: 2px;
  border-radius: 1px;
  background-color: #ff5722;
  margin: 12px 15px;
}

#playlist-section h3 {
  margin-left: 15px;
  font-size: 1.7vw;
}

.genres-playlists {
  margin: 5vh 0 11vh 0;
}

div#topPlaylist {
  margin-top: 32px;
}

.card-playlist-like {
  display: flex;
  justify-content: space-between;
  padding: 0 3px 3px 3px;
}

.recommended-playlists{
  margin-bottom: 10vh;
}
#recommendedPlaylist {

  img {
    height: 140px;

  }

  .card-playlist-hover-icons {
    top: 30%;
  }
}

/*lyrics*/
.lyrics-icon {
  max-height: 19px;
  max-width: 19px;
  cursor: pointer;

  &:active, &:focus {
    outline: none;
  }
}

.track__lyrics {
  margin-left: auto;
}

.track-lyrics-dropdown {
  max-height: calc(100% - 90px - 64px - 20px);
  width: 50%;
  overflow-y: auto;
  z-index: 20000;
  white-space: pre-line;
  text-align: center;
  font-size: 24px;
  line-height: 32px;

}

.track-lyrics-dropdown {
  transition: all 0.3ms ease-in;
}

.lyrics-text {
  font-size: 16px;
}

/*404*/
.not-found {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 150px;
  }

  .empty-submessage.fas.fa-search {
    cursor: initial;
  }
}