/*player*/
audio {
  display: none;
}

.ap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
  border-top: 1px solid #ccc;
  height: 90px !important;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
  z-index: 1000;

  .ap__inner {
    display: flex;
    height: 100%;
  }

}

.ap__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

#btnPrev {
  margin-right: 35px;
}

#btnNext {
  margin-left: 35px;
}

.ap__item--title {
  flex: 1;
  justify-content: space-between;
  height: 90px !important;
}

.flex {
  display: flex;
}

.ap__item--settings {
  flex: 1;
  justify-content: space-between;
}

.ap__item--playback {
  margin: 4px 48px 0 48px;
}

#showPlaylist {
  padding-right: 40px;
}

@keyframes fs {
  0% {
    opacity: 0;
    transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/*track bar*/
.ap__item--track {
  display: block;
}

.ap__item img {
  width: auto;
  height: 100%;
}

.track {
  width: 5%;
  align-self: flex-start;
}

p.track__title,
p.pl-track__title {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8vw;
}

p.album-artist__title,
p.pl-album-artist__title {
  font-size: 0.8vw;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 4px;
  color: #616161;
}

p.pl-album-artist__title {
  font-size: 11px;
  margin: 0;
}

p.pl-track__title {
  font-size: 13px;
}

.track__info {
  margin-top: 1rem;
  margin-left: 1rem;
}

.track__time,
.pl-track__time {
  color: #757575;
  font-size: 12px;
  line-height: 12px;
  height: 12px;
}

.track__time {
  position: absolute;
  top: 15px;
  right: 0;
}

.progress-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  width: 100%;

  .progress {
    margin-bottom: 0;
    height: 3px;
    border-radius: 3px;
    background-color: transparent;

    .progress__bar,
    .progress__preload {
      width: 0;
      height: 3px;
      border-radius: 3px 0 0 3px;
    }
  }

}

.progress-container:hover .progress__bar::after {
  opacity: 1;
}

.ap.active .progress-container:hover .progress {
  background: #bdbdbd;
}

.progress__bar {
  background: #ff5722;
  z-index: 1;

  &::after {
    top: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    margin-top: -3px;
    content: '';
    border-radius: 6px;
    background: #ff5722;
    opacity: 0;
    transition: opacity .3s ease;
  }

  &:active:after {
    transform: scale(1.4);

  }
}

.progress__preload {
  background: #ddd;
  z-index: 0;
}

/* Controls*/
.ap .ap__controls--toggle i.fa-play {
  padding: 0.7em 0.8em;
  background-color: #e0e0e0;
  border-radius: 50%;
  color: white;
}

.ap.active .ap__controls--toggle i.fa-play {
  background-color: #ff5722;
}

.ap.active .ap__controls--toggle i.fa-pause {
  border-radius: 50%;
  padding: 0.7em 0.8em;
  color: white;
  background-color: #ff5722;
}

.ap .fa-step-backward,
.ap .fa-step-forward {
  background: transparent;
  color: #e0e0e0;
}

.ap.active .fa-step-backward,
.ap.active .fa-step-forward {
  color: black;
}

.ap .fa-heart,
.ap .fa-plus,
.ap .fa-microphone {
  opacity: 0;
}

.ap.active .fa-heart,
.ap.active .fa-plus,
.ap.active .fa-microphone {
  opacity: 1;
}

.ap__controls,
.ap button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  position: relative;
  display: block;
  height: 50px;
  text-align: center;
  cursor: pointer;
  transition: background .3s ease;
}

#addLike {
  margin-right: 35px;
}


.ap__controls--playlist {

  &.queue {
    &:before {
      background-color: #dedee3;
      content: "";
      height: 32px;
      left: 0;
      position: absolute;
      top: 8px;
      width: 1px;
      box-sizing: border-box;
    }

    .queue-button {
      display: flex;
      font-size: 12px;
      padding: 5px;
      margin-left: 5px;

      &:hover {
        background-color: #efeff2;
      }

      .queue-title {
        align-self: center;
        color: #32323d;
        line-height: 16px;
        margin-left: 8px;
      }

      .queue-img {
        border-radius: 4px;
        display: inline-block;
        margin: 0;
        max-height: 28px;
        max-width: 28px;
        overflow: hidden;
        position: relative;
        transform: translateZ(0);
        vertical-align: top;
      }
    }
  }
}

.ap.active button:active i,
.ap.active .track__lyrics:active i {
  color: #ff5722;
}

button.ap__controls.ap__controls--playlist.main-add-to-playlist {
  margin-right: 25px;
}

.main-pause,
.main-play,
.fa-step-forward,
.fa-step-backward {
  transition: all 0.05s ease;
}

.ap.active button:active .main-pause,
.ap.active button:active .main-play {
  box-shadow: 0 0 0 10px rgba(52, 52, 52, 0.18);
}

.ap.active button:active .fa-step-forward,
.ap.active button:active .fa-step-backward {
  border-radius: 50%;
  padding: 0.7em 0.8em;
  background: rgba(52, 52, 52, 0.18);
  color: black;
}

.ap.active button:hover {
  opacity: 1;
}

.track__title p,
.pl-track__title p {
  margin-bottom: 0;
}

.track__time {
  opacity: 0;
}

.ap.active .track__time {
  opacity: 1;
}

/* Volume*/
.volume-btn {
  display: block;
  text-align: center;
  width: 100%;
}

.volume {
  position: absolute;
  left: 50%;
  bottom: 45px;
  width: 40px;
  margin-left: -20px;
  height: 120px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: all .3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
  background: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 1px;
  z-index: 88888;
}

.volume::before,
.volume::after {
  content: '';
  position: absolute;
  bottom: -12px;
  border: 7px solid transparent;
  border-top: 7px solid #f2f2f2;
  left: 50%;
  margin-left: -7px;
}

.volume::after {
  bottom: -14px;
  z-index: -1;
  border-top: 7px solid #ccc;
}

.volume.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.volume__track {
  position: relative;
  display: block;
  width: 3px;
  height: 100px;
  margin: 10px auto;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
}

.volume__bar {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff5722;
  height: 50%;
}

.has-muted.icon-volume-on {

  display: none;
}

.has-muted.icon-volume-off {
  display: inline;
  opacity: .7;
}

.ap__controls.volume-container {
  display: flex;
  justify-content: center;
  margin: 0 35px;
}

.pl-like,
.pl-dislike {
  color: #616161;
}

.active-like-state {
  display: inline;
}

.card-playlist-hover-details {
  display: flex;
  justify-content: space-between;
  padding-right: 10%;
}

