<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/jquery/easy-autocomplete.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>Deezer</title>
</head>
<body>
<header class="top-bar-container">
    <div class="top-bar-section">
        <div class="top-bar">
            <div class="top-bar-left">
                <div class="logo">
                    <img class="menu-text" src="/assets/img/logo.png" alt="">
                    <p class="menu-text">Deezer</p>
                </div>
            </div>
            <div class="top-bar-center">
                <div class="search-icon-form"><i class="fas fa-search"></i>
                    <input name="search"
                           placeholder="Search"
                           class="search-form">
                </div>

            </div>

            <div class="top-bar-right">
                <i class="logout fas fa-sign-out-alt top has-tip"
                   data-tooltip aria-haspopup="true" tabindex="1" title="Logout"></i>
            </div>
        </div>
    </div>
</header>

<main>
    <aside class="random__song left has-tip"
           data-tooltip aria-haspopup="true" tabindex="1" title="Play something"><i
            class="fas fa-dice-three"></i></aside>
    <aside class="right">
        <div class="music-library">
            <i class="fas fa-clone"></i>
            <p class="music-library-title">Music Library</p>
        </div>
        <div class="all-playlists">
            <i class="fas fa-headphones"></i>
            <p class="music-library-title">Playlists</p>
        </div>
    </aside>
    <div class="grid-container">
        <section id="playlist-section">
            <div class="genres-playlists">
                <h3>Explore by genre</h3>
                <div class="outline-pagination">
                    <div class="underline"></div>
                    <div id="pagination-container-genre"></div>
                </div>
                <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-5" id="genre">
                </div>
            </div>
            <div class="top-public-playlists">
                <h3>Deezer Top 10</h3>
                <div class="underline"></div>
                <div class="grid-x grid-padding-x small-up-2 medium-up-4 large-up-5" id="topPlaylist">
                </div>
            </div>
            <div class="artists-playlists">
                <h3>Artists</h3>
                <div class="outline-pagination">
                    <div class="underline"></div>
                    <div id="pagination-container-artist"></div>
                </div>
                <div class="grid-x grid-padding-x small-up-3 medium-up-5 large-up-6" id="artist">
                </div>
            </div>
            <div class="album-playlists">
                <h3>Albums</h3>
                <div class="outline-pagination">
                    <div class="underline"></div>
                    <div id="pagination-container-album"></div>
                </div>
                <div class="grid-x grid-padding-x small-up-3 medium-up-5 large-up-6" id="album">
                </div>
            </div>
            <div class="all-public-playlists">
                <h3>All Playlists</h3>
                <div class="underline"></div>
                <div class="grid-x grid-padding-x small-up-3 medium-up-5 large-up-6 artist-page" id="allPublicPl">
                </div>
            </div>
            <div class="songs-playlist">
                <table class="hover unstriped">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Track</th>
                        <th><i class="far fa-clock"></i></th>
                        <th><i class="far fa-heart"></i></th>
                    </tr>
                    </thead>
                    <tbody id="songsBody">
                    </tbody>
                </table>
            </div>
        </section>
    </div>

    <div id="audiowrap">
        <div id="first" th:vaue="${songs}">
            <audio preload="metadata" id="audio" controls="controls"/>
        </div>
    </div>
    </div>
    <section class="playlist__section">
        <div class="queue-empty">
            <div class="material-empty">
                <div class="empty-message">Queue is empty</div>
                <div class="empty-submessage">Start to listen music. Your playlist will be here.</div>
            </div>
        </div>
    </section>
    <section class="playlist-menu dropdown-pane top" id="addToPlaylistMenu" data-dropdown>
        <div class="create-playlist" data-open="createPlaylistModal">Create new playlist</div>
        <div class="menu-separator"></div>
        <ul class="user-playlist-list">
        </ul>
    </section>
    <div class="reveal" id="createPlaylistModal" data-reveal>
        <h2 class="title">New Playlist</h2>
        <div class="new-playlist__name">
            <label for="new-playlist__input">Title</label>
            <input id="new-playlist__input" autofocus="autofocus"/>
        </div>
        <div class="new-playlist__access" data-tooltip aria-haspopup="true" data-position="bottom" data-alignment="left"
             tabindex="1" title="All users can listen this playlist">
            <input class="new-playlist__access__input" type="checkbox" id="new-playlist-access__checkbox"/>
            <label class="new-playlist__access__label" for="new-playlist-access__checkbox">Make public</label>
        </div>
        <div class="buttons">
            <button class="new-playlist__cancel" data-close aria-label="Close Modal" type="button">Cancel</button>
            <button class="new-playlist__create" type="button">Create Playlist</button>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <section class="track-lyrics-dropdown dropdown-pane top" id="lyricsPane" data-dropdown data-v-offset="60" data-close-on-click="true">
        <p class="lyrics-text empty-message">We are doing our best to find the lyrics for this song.</p>
    </section>
</main>
<footer>
    <div class="ap" id="ap">
        <div class="ap__item ap__item--track">

            <div class="progress-container">
                <div class="progress">
                    <div class="progress__bar"></div>
                    <div class="progress__preload"></div>
                </div>
            </div>
            <div class="track">
                <div class="track__time">
                    <span class="track__time--current">0:00</span>
                    <span> / </span>
                    <span class="track__time--duration">0:00</span>
                </div>
            </div>
        </div>
        <div class="ap__inner">
            <div class="ap__item ap__item--title">
                <img class="track__picture" src="" alt="">
                <div class="track__info">
                    <p class="track__title"></p>
                    <p class="album-artist__title"></p>
                </div>
                <div class="track__lyrics" data-toggle="lyricsPane">
                    <i class="fas fa-microphone"
                       data-tooltip aria-haspopup="true" tabindex="1" title="Lyrics"></i>
                </div>
            </div>
            <div class="ap__item ap__item--playback">
                <button class="ap__controls ap__controls--prev" id="btnPrev">
                    <i class="fas fa-step-backward  top "
                       data-tooltip aria-haspopup="true" tabindex="5"
                       title="previous track"></i>
                </button>
                <button class="ap__controls ap__controls--toggle btnPlay">
                    <i class="fas fa-play main-play top has-tip"
                       data-tooltip aria-haspopup="true" tabindex="1" title="play"></i>
                    <i class="fas fa-pause main-pause"></i>
                </button>
                <button class="ap__controls ap__controls--next" id="btnNext">
                    <i class="fas fa-step-forward top has-tip"
                       data-tooltip aria-haspopup="true" tabindex="1" title="next track"></i>
                </button>
            </div>

            <div class="ap__item ap__item--settings">
                <button class="ap__controls ap__controls--playlist" id="addLike">
                    <i class="far fa-heart top main-like"
                       data-tooltip aria-haspopup="true" tabindex="1"
                       title="Add to favourites"></i>
                    <i class="fas fa-heart top main-dislike"
                       data-tooltip aria-haspopup="true" tabindex="1"
                       title="Cancel like"></i>
                </button>
                <button class="ap__controls ap__controls--playlist main-add-to-playlist"
                        data-toggle="addToPlaylistMenu">
                    <i class="fas fa-plus top has-tip"
                       data-tooltip aria-haspopup="true" tabindex="1"
                       title="Add to playlist"></i>
                </button>
                <div class="ap__controls volume-container">
                    <button class="volume-btn">
                        <i class="fas fa-volume-up icon-volume-on"></i>
                        <i class="fas fa-volume-off icon-volume-off"></i>
                    </button>
                    <div class="volume">
                        <div class="volume__track">
                            <div class="volume__bar"></div>
                        </div>
                    </div>
                </div>
                <button class="ap__controls ap__controls--playlist" id="showPlaylist">
                    <i class="fas fa-music top has-tip"
                       data-tooltip aria-haspopup="true" tabindex="1"
                       title="Current queue"></i>
                </button>

            </div>
        </div>
    </div>
</footer>
<script src="/assets/jquery/jquery.min.js"></script>
<script src="/assets/jquery/jquery.easy-autocomplete.min.js"></script>
<script src="/assets/js/vendor/foundation.min.js"></script>
<script src="/assets/js/vendor/pagination.js"></script>
<script type="module" src="/assets/js/main.js"></script>
</body>
</html>