<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id"
          content="582754350751-9l1l5bqs8bga96g6651mmn3d1qm4s3p4.apps.googleusercontent.com">
    <title>Deezer</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/foundation-icons.css">
</head>
<body>
<header>
    <div class="top-bar">
        <div class="top-bar-left">
            <a href="/" class="logo">
                <img class="menu-text" src="assets/img/logo.png" alt="">
                <p class="menu-text">Deezer</p>
            </a>
        </div>
        <div class="top-bar-right button-group">
            <a href="/login" class=" button hollow">Sign in</a>
            <a href="/registration" class="button">Sign up</a>
        </div>
    </div>


</header>
<main >

</main>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="/assets/jquery/jquery.min.js"></script>
<script type="module" src="/assets/js/user-main.js"></script>
</body>
</html>
