<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deezer</title>
</head>
<body>
<div>
    <form action="/login" method="post">
        <input type="text" placeholder="login" required name="login" id="login"><br><br>
        <input type="password" placeholder="password" required name="password" id="password"><br><br>
        <button type="submit">Login</button>
    </form>
    <p>You are not registered yet?
    </p>
    <a data-toggle="modal" href="/registration">Registration</a>
</div>

</body>
</html>