<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deezer</title>
</head>
<body>
<div class="container">
    <div>
        <div>
            <div>
                <span id="action">Paused...</span>
                <span id="title"></span>
            </div>
            <div id="audiowrap">
                <div id="first" th:vaue="${songs}">
                    <audio preload id="audio" controls="controls"/>
                </div>
                <div>
                    <a id="btnPrev">&laquo;</a>
                    <a id="btnNext">&raquo;</a>
                </div>
            </div>

        </div>
    </div>
    <div id="playlist"></div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    jQuery(function ($) {
        var index = 0;
        playing = false;
        divValue = $('#first').get(0).attributes.item(1).value;
        listSong = divValue.substring(1, divValue.length - 2).split(';,');
        tracks = listSong.map(function (song) {
            return qq = JSON.parse(song);
        });
        $('#playlist').append(tracks.map(function (tune) {
            return '<button class="play-song-button" id="' + tune.id + '">' + tune.title + '</button><br>';
        }).join(''));
        trackCount = tracks.length;
        action = $('#action');
        title = $('#title');
        audio = $('#audio').bind('play', function () {
            playing = true;
            action.text('Now Playing...');
        }).bind('pause', function () {
            playing = false;
            action.text('Paused...');
        }).bind('ended', function () {
            action.text('Paused...');
            if ((index + 1) < trackCount) {
                index++;
                loadTrack(index);
                audio.play();
            } else {
                audio.pause();
                index = 0;
                loadTrack(index);
            }
        }).get(0);
        btnPrev = $('#btnPrev').click(function () {
            if ((index - 1) > -1) {
                index--;
                loadTrack(index);
                if (playing) {
                    audio.play();
                }
            } else {
                audio.pause();
                index = 0;
                loadTrack(index);
            }
        });
        btnNext = $('#btnNext').click(function () {
            if ((index + 1) < trackCount) {
                index++;
                loadTrack(index);
                if (playing) {
                    audio.play();
                }
            } else {
                audio.pause();
                index = 0;
                loadTrack(index);
            }
        });
        $('.play-song-button').click(function (e) {

            tracks.forEach(function (song) {
                if (song.id.toString() === e.currentTarget.id.toString()) {
                    playTrack(song.id - 1);
                }
            });


        });
        loadTrack = function (id) {
            $('.plSel').removeClass('plSel');
            $('#plList li:eq(' + id + ')').addClass('plSel');
            title.text(tracks[id].title);
            index = id;
            audio.src = tracks[id].url;
        },
            playTrack = function (id) {
                loadTrack(id);
                audio.play();
            };

    });
</script>
</body>
</html>
