<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deezer</title>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/foundation.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <link rel="stylesheet" href="/assets/css/foundation-icons.css">
</head>
<body>
<header>
    <div class="top-bar">
        <div class="top-bar-left">
            <a class="logo">
                <img class="menu-text" src="assets/img/logo.png" alt="">
                <p class="menu-text">Deezer</p>
            </a>
        </div>
        <div class="top-bar-right button-group">
            <a href="/login" class=" button hollow">Sign in</a>
            <a href="/registration" class="button">Sign up</a>
        </div>
    </div>


</header>
<main class="card grid-container login-box">
    <div class=" cell large-6 small-12 medium-6 small-order-2 medium-order-1">
        <div class="login-box-form-section">
            <h1 class="login-box-title">Sign up</h1>
            <p id="error"></p>
            <input class="login-box-input" type="text" name="login" id="login" placeholder="Username"/>
            <input class="login-box-input" type="password" name="password" id="password" placeholder="Password"/>
            <input class="login-box-input" type="password" name="password2" id="password2" placeholder="Retype password"/>
            <button class="login-box-submit-button" id="register" type="submit" name="signup_submit">Sign me up</button>
            <div class="login-box-social-section-inner">
                <a class="login-box-social-button-facebook " id="fb-login"><i class="fi-social-facebook">
                    Facebook</i></a>
                <a id="google-login" class="login-box-social-button-google">
                    <i class="fi-social-google-plus"> Google+</i>
                </a>
            </div>
        </div>

    </div>
</main>
<script src="https://apis.google.com/js/platform.js"></script>
<script src="/assets/jquery/jquery.min.js"></script>
<script type="module" src="/assets/js/app.js"></script>
</body>
</html>
