
.has-tip {
    border-bottom: none;
}

button:focus {
    outline: none;
}

i:focus {
    outline: none;
}

div:focus {
    outline: none;
}

li:focus {
    outline: none;
}

body {
    font-family: 'Roboto', arial, 'Noto Sans Japanese', sans-serif;
    background-color: #f5f5f5;
    width: 100% !important;
    height: 100% !important;
}

body {
    overflow-y: hidden;
}

main {
    height: calc(100% - 90px - 64px);
    overflow-y: auto !important;
}







/* header moved to header/css/index.scss*/





/* main */
.grid-container {
    max-width: 80%;
    margin-top: 2%;
}

.cell {
    cursor: pointer;
    padding-bottom: 0.9375rem ;
}
.artist-page .followers-count.suggestion-subtitle {
    margin: 0 0 5% 15%;
}
i[class^='fa'] {
    font-size: 1.2rem;
    cursor: pointer;
}

aside {
    margin-top: 5vh;
}

.random__song {
    position: fixed;
    background-color: #ff5722;
    cursor: pointer;
    border-radius: 50%;
    right: 2%;
    z-index: 5;
}

.random__song:focus {
    outline: none;
}

.random__song:hover {
    filter: alpha(opacity=80);
    opacity: .8;
}

i.fa-dice-three {
    color: #ffffff;
    padding: 0.7em 0.8em;
    font-size: 1.5em;
}

.outline-pagination {
    display: flex;
    justify-content: space-between;
}

.paginationjs-pages ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.paginationjs-pages ul li {
    background-color: #e2e2e2;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 0.5%;
}

.paginationjs-pages ul li.disabled {
    background-color: #f0f0f0;
}

.paginationjs-pages ul li.disabled .fa-arrow-right,
.paginationjs-pages ul li.disabled .fa-arrow-left {
    color: #e2e2e2;
}

.paginationjs-pages ul li .fa-arrow-right,
.paginationjs-pages ul li .fa-arrow-left {
    padding: 0.25em 0.4em;
    color: #6e6e6e;
}

.card-playlist-hover-title {
    font-size: 1.1vw;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.card-playlist-hover-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #616161;
}

.card-playlist-hover {
    position: relative;
    transition: all 0.35s ease;
}

.card-playlist-hover-details {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.card-playlist-hover-details > :last-child {
    margin-bottom: 0;
}

.card-playlist-hover-icons {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 2.7rem;
}

.card-playlist-hover-icons button i {
    display: block;
    font-size: 2.5vw;
    text-align: center;
    color: #fefefe;
}

.card-playlist-hover-icons button i:hover {
    cursor: pointer;
    outline: none;
    color: #ff5722;
    font-size: 2.7vw;
}

.card-playlist-hover-icons button {
    margin: 2px;
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    transition: all 0.35s ease;
}

.card-playlist-hover:hover img {
    filter: alpha(opacity=80);
    opacity: .8;
}

.card-playlist-hover:hover button {
    transition: all 0.35s ease;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.card-playlist-hover-icons button:focus {
    outline: none;
}

.card-playlist-hover:hover button:nth-child(2),
.card-playlist-hover.hover a:nth-child(2) {
    transition-delay: 0.1s;
}

.card-playlist-hover:hover button:nth-child(3),
.card-playlist-hover.hover button:nth-child(3) {
    transition-delay: 0.2s;
}

.card-playlist-hover img {
    border-radius: 2%;
    width: 100%;
}

.card {
    border: none;
    background: transparent;
}

.underline {
    width: 100px;
    height: 2px;
    border-radius: 1px;
    background-color: #ff5722;
    margin: 12px 15px;
}

#playlist-section h3 {
    margin-left: 15px;
    font-size: 1.7vw;
}

.songs-playlist,
.artists-playlists,
.album-playlists,
.all-public-playlists,
.genres-playlists,
.top-public-playlists {
    display: none;
}

.genres-playlists {
    margin: 5vh 0 10vh 0;
}

div#topPlaylist {
    margin-top: 32px;
}










/*player moved to player/css/index.scss*/










/*-----------------------
    Playlist Player
------------------------*/
/* playlist */
.playlist__section {
    background-color: #fefefe;
    position: fixed;
    border: 1px solid #ddd;
    margin-left: -50px;
    display: none;
    top: auto;
    left: auto;
    right: 32px;
    margin-right: 0;
    bottom: 110px;
    margin-bottom: 0;
    width: 100vw;
    max-height: calc(100vh - 110px - 64px - 24px);
    border-radius: 3px;
    transition: width 0.3s ease;
    outline: none;
    box-sizing: border-box;
    max-width: 732px;
    z-index: 103;
}

.pl-img {
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 120px;
}

.pl-img img {
    width: 100%;
    filter: brightness(50%);
    vertical-align: top;
}

.pl-info {
    height: 120px;
    padding: 0 16px 25px 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pl-title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.mini-playlist {
    overflow-y: scroll;
    height: calc(100% - 120px);
    transform: translate(0, 0);
    max-height: calc(100vh - 110px - 64px - 24px - 120px);
    min-height: 260px;
}

.search-pl-info p.pl-track__title {
    font-size: 15px;
}

.search-pl-info p.pl-album-artist__title {
    font-size: 13px;
}

.queue-empty {
    height: 100%;
    margin: 2%;
}

.material-empty {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.empty-message {
    margin: 16px auto 12px;
    font-size: 20px;
    font-weight: 500;
}

.empty-message,
.empty-submessage {
    text-align: center;
    color: #616161;
}

.empty-submessage {
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
}

.playlist-menu {
    display: none;
    background: #fff;
    cursor: default;
    font: normal 13px Arial, sans-serif;
    margin: 0;
    outline: none;
    position: absolute;
    z-index: 20000;
    border: 0 solid transparent !important;
    border-radius: 2px;
    padding: 16px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
    width: auto;
    transition: height 0.3s ease;
    transform: translate(0, 0);
    min-height: 0;
    overflow-y: auto;
    max-height: 100%;

}

.user-playlist-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.create-playlist,
.user-playlist-list li {
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    padding: 0 24px;
    margin: 0 !important;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.create-playlist:hover,
.user-playlist-list li:hover {
    background-color: #eeeeee;
}

.create-playlist:focus {
    outline: none;
}

.menu-separator {
    background: #eeeeee !important;
    margin: 6px 0 !important;
    height: 1px !important;
}

h2.title {
    position: relative;
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.new-playlist__name {
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    color: #212121;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 30px 0;
}

.new-playlist__name label,
.new-playlist__access label {
    font: inherit;
    color: #616161;
    -webkit-transition: -webkit-transform 0.25s, width 0.25s;
    transition: transform 0.25s, width 0.25s;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.new-playlist__name input {
    color: #212121;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #212121;
    transition: border-bottom-color 0.5s ease;
}

.new-playlist__name input:focus {
    outline: none;
    border-bottom: 1px solid #c34920;
}

.buttons {
    float: right;
}

.buttons button {
    color: #ff5722;
    margin: 0 0.29em;
    text-transform: uppercase;
    outline-width: 0;
    cursor: pointer;
    z-index: 0;
    padding: 0.7em 0.57em;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.buttons button:focus {
    background-color: rgba(255, 87, 34, 0.22);
}

.new-playlist__access {
    display: flex;
}

.new-playlist__access__input {
    opacity: 0;
}

.new-playlist__access__label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid #212121;
}

.new-playlist__access__input:focus + .new-playlist__access__label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.new-playlist__access__input:checked + .new-playlist__access__label:after {
    content: '\2713\0020';
    position: absolute;
    top: .17em;
    left: 1.15em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #ff5722;
    transition: all .2s;
}

span.user-playlist-subtitle {
    text-transform: lowercase;
    color: #757575;
    font-style: italic;
    font-size: 12px;
}

.playlist__header {
    flex-direction: row;
}

.playlist__picture {
    width: 15%;
    border-radius: 2%;
}

.playlist__picture img {
    width: 100%;
}

.artist .playlist__picture img {
    border-radius: 50%;
}

.playlist__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist__subtitle {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #616161;
    margin-left: 15px;
}

.playlist__title {
    margin-left: 15px;
    font-size: 1.7vw;
}

.artist-page .outline-pagination .underline {
    display: none;
}

.artist-page .outline-pagination {
    float: right;
}

#playlist-section .artist-page h3 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 24px;
    color: #212121;
    cursor: default;
    margin: 0 0 0 30px;
}

.artist-page .card-playlist-hover-subtitle {
    display: none;
}

.artist-page .card {
    overflow: visible;
    white-space: nowrap;
    background-color: white;
    margin: 8px;
    border-radius: 2px;
    font-weight: 300;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.artist-page .card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.artist-page .card .card-playlist-hover-details {
    padding: 5%;
}

.artist-page .card .card-playlist-hover-title {
    font-size: 0.9rem;
    color: #212121;
}

#album .card-playlist-hover-details {
    display: block;
}

/*music library*/
.user-library {
    margin-top: 2%;
}

aside.right {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 2%;
    z-index: 5;
    cursor: pointer;
}

.all-playlists {
    margin-top: 20px;
}

.music-library:hover,
.all-playlists:hover {
    opacity: 0.8;
}

.music-library:active,
.all-playlists:active {
    background-color: rgba(255, 87, 34, 0.22);
}

.music-library i,
.all-playlists i {
    display: flex;
    justify-content: center;
    color: #ff5722;
    font-size: 1.5em;
}

.music-library p,
.all-playlists p {
    overflow: hidden;
    margin-top: 4px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #212121;
}

.tabs, .tabs-content {
    background-color: transparent;
    border: none;
    color: #212121;
}

.tabs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.37);
}

.tabs-title a {
    color: #212121;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.8;
    font-size: 0.9rem;
}

.tabs-title.is-active a {
    opacity: 1;
    border-bottom: 2px solid #ff5722;
    background-color: inherit;
    color: #212121;
    outline: none;
}

.tabs-title a:hover {
    background-color: inherit;
    color: inherit;
}

.tabs-panel.is-active {
    display: flex;
}

#playlist-section .all-public-playlists h3,
#playlist-section .all-public-playlists .underline {
    margin-left: 22px;
}

/*lyrics*/
.track__lyrics {
    margin-left: auto;
}

.track-lyrics-dropdown {
    max-height: calc(100% - 90px - 64px - 20px);
    width: 50%;
    overflow-y: auto;
    z-index: 20000;
    white-space: pre-line;
    text-align: center;
    font-size: 24px;
    line-height: 32px;

}

.track-lyrics-dropdown {
    transition: all 0.3ms ease-in;
}

/*media*/
@media (max-width: 1024px) {
    .ap__item > .ap__controls {
        flex: 1;
    }

    .card-playlist-hover-icons {
        top: 50%;
        left: 50%;
    }

    #playlist-section h3 {
        font-size: 1.1875rem;
    }

    i.fa-dice-three {
        font-size: 1.1em;
    }

    .music-library i {
        font-size: 1.3em;
    }
}

@media (max-width: 600px) {
    .playlist__title {
        font-size: 1rem;
    }

    .ap {
        min-width: 250px;
    }

    .ap, .ap__inner {
        height: auto;
    }

    .ap__item--track {
        margin-bottom: 1px;
        order: 1;
        flex: 1 1 100%;
    }

    .ap__item--playback,
    .ap__item--settings {
        order: 2;
    }

    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
        flex: 0;
    }

    .fa-arrow-right {
        display: flex;
    }

    i.fa-dice-three {
        font-size: 1em;
    }

    .logo p {
        display: none;
    }

    .search-form::placeholder {
        color: transparent;
    }

    .playlist__section {
        width: 60vw;
    }

    .card-playlist-hover-title {
        font-size: 0.7em;
    }

    .card-playlist-hover-subtitle {
        font-size: 0.5em;
    }

    .playlist__picture {
        height: auto;
    }
}

@media (max-height: 800px) {
    .genres-playlists {
        margin: 10vh 0 20vh;
    }

    .top-public-playlists {
        height: 50vh !important;
    }

    .grid-container {
        max-width: 75%;
    }

}

@media (max-height: 900px) {
    .genres-playlists {
        margin: 15vh 0 20vh;
    }
}
