#audiowrap {
    display: none;
}

.has-tip {
    border-bottom: none;
}

button:focus {
    outline: none;
}

i:focus {
    outline: none;
}

div:focus {
    outline: none;
}

li:focus {
    outline: none;
}

body {
    font-family: 'Roboto', arial, 'Noto Sans Japanese', sans-serif;
    background-color: #f5f5f5;
    width: 100% !important;
    height: 100% !important;

}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19);
    background: white;
}

.top-bar-section {
    padding: 0 16px;
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-bar {
    position: relative;
    height: 48px;
    padding: 0;
}

.top-bar {
    background-color: inherit;
}

.top-bar-left {
    max-width: 226px;
}

.top-bar-right {
    justify-content: flex-end;
}

.top-bar-container .top-bar .top-bar-right,
.top-bar-container .top-bar .top-bar-left {
    flex: 1;
    height: 48px;
    position: relative;
    display: flex;
}

.logo img {
    width: 50px;
    height: 50px;
}

.logo {
    display: flex;
    cursor: pointer;
}

.logo p {
    margin-top: 10%;
    font-family: 'Indie Flower', serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

.fa-sign-out-alt {
    cursor: pointer;
    font-size: 1.5rem;
    margin: auto 0;
}

li .button {
    margin-right: 2em;
}

.button-group {
    margin-bottom: 0;
}

@media print, screen and (min-width: 40em) {
    .top-bar .top-bar-left {
        flex-grow: 0;
    }
}

.top-bar-center {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 2;
    max-width: 800px;

}

.top-bar input {
    max-width: 800px;
    font-size: 16px;
    color: #212121;
    padding: 0 72px;
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    font-weight: 400;
    outline: none;
    background: transparent;
    border: 1px solid transparent;
    transition: border 0.1s ease-out;
}

.top-bar .search-form {
    background-color: #f5f5f5;
    transition: all 0.2s ease;
    border-radius: 2px;
    z-index: 1;
    margin: 0;
}

.top-bar .search-form:focus {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);
    background-color: white;
}

.search-icon-form {
    position: relative;
}

.easy-autocomplete-container ul {
    border: none;
}

.search-icon-form .fa-search {
    color: #616161;
    position: absolute;
    top: 13px;
    left: 24px;
    z-index: 2;
}

.easy-autocomplete-container ul li div {
    display: -webkit-flex;
    display: flex;
}

.search-suggestion {
    width: 100%;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position: relative;
    height: 56px;
    cursor: pointer;
    outline: none;
}

.search-img {
    width: 32px;
    height: 32px;
    margin: 0 16px 0 0;
}

.search-contentWrapper {
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    min-width: 0;
    flex: 0 1 100%;
    box-sizing: border-box;
    padding: 0 16px;
}

.suggestion-details {
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    position: relative;
    min-width: 0;
}

.suggestion-title {
    color: #212121;
    font-size: 14px;
}

.suggestion-subtitle {
    color: #757575;
    font-size: 12px;
    line-height: 14px;
}

.suggestion-title,
.suggestion-subtitle {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.search-value-play {
    display: -webkit-inline-flex;
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    height: 100%;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 50%;
    background-color: inherit;
    overflow: hidden;
    z-index: 5;
}

.search-value-play:hover {
    transform: scale(1.15);

}

.search-value-play:focus {
    transform: scale(1);
}

.search-play-icon {
    color: rgba(0, 0, 0, 0.7);
}

.easy-autocomplete-container ul {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.4);
    background-color: white;
    margin: 0;
}

.easy-autocomplete-container ul li {
    padding: 8px;
}

.easy-autocomplete-container ul li.selected {
    background-color: #f5f5f5;
}

.logout {
    transition: all 0.2s ease;
    color: #616161;
}

.logout:hover {
    font-size: 1.6em;
}

/* main */
.grid-container {
    max-width: 80%;
}

.cell {
    cursor: pointer;
}

i[class^='fa'] {
    font-size: 1.2rem;
    cursor: pointer;
}

.random__song {
    position: fixed;
    background-color: #ff5722;
    cursor: pointer;
    border-radius: 50%;
    margin-top: 1em;
    right: 2%;
    z-index: 5;
}

.random__song:focus {
    outline: none;
}

.random__song:hover {
    filter: alpha(opacity=80);
    opacity: .8;
}

i.fa-dice-three {
    color: #ffffff;
    padding: 0.7em 0.8em;
    font-size: 1.5em;
}

.outline-pagination {
    display: flex;
    justify-content: space-between;
}

.paginationjs-pages ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.paginationjs-pages ul li {
    background-color: #e2e2e2;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 0.5%;
}

.paginationjs-pages ul li.disabled {
    background-color: #f0f0f0;
}

.paginationjs-pages ul li.disabled .fa-arrow-right,
.paginationjs-pages ul li.disabled .fa-arrow-left {
    color: #e2e2e2;
}

.paginationjs-pages ul li .fa-arrow-right,
.paginationjs-pages ul li .fa-arrow-left {
    padding: 0.25em 0.4em;
    color: #6e6e6e;
}

.card-playlist-hover-title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
}

.card-playlist-hover-subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: #616161;
}

.card-playlist-hover {
    position: relative;
    transition: all 0.35s ease;
}

.card-playlist-hover-details {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.card-playlist-hover-details > :last-child {
    margin-bottom: 0;
}

.card-playlist-hover-icons {
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 50%;
    right: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.card-playlist-hover-icons button i {
    display: block;
    font-size: 2.5rem;
    text-align: center;
    color: #fefefe;
}

.card-playlist-hover-icons button i:hover {
    cursor: pointer;
    outline: none;
    color: #ff5722;
    font-size: 2.7rem;
}

.card-playlist-hover-icons button {
    margin: 2px;
    opacity: 0;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    transition: all 0.35s ease;
}

.card-playlist-hover:hover img {
    filter: alpha(opacity=80);
    opacity: .8;
}

.card-playlist-hover:hover button {
    transition: all 0.35s ease;
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.card-playlist-hover-icons button:focus {
    outline: none;
}

.card-playlist-hover:hover button:nth-child(2),
.card-playlist-hover.hover a:nth-child(2) {
    transition-delay: 0.1s;
}

.card-playlist-hover:hover button:nth-child(3),
.card-playlist-hover.hover button:nth-child(3) {
    transition-delay: 0.2s;
}

.card-playlist-hover img {
    border-radius: 2%;
    width: 100%;
}

.card {
    border: none;
    background: transparent;
}

.top-public-playlists {
    margin-top: 10%;
}

.underline {
    width: 100px;
    height: 2px;
    border-radius: 1px;
    background-color: #ff5722;
    margin: 12px 15px;
}

#playlist-section h3 {
    margin-left: 15px;
}

.songs-playlist {
    display: none;
}

.artists-playlists {
    display: none;
}

.album-playlists {
    display: none;
}

.genres-playlists {
    display: none;
}

.top-public-playlists {
    display: none;
}

/*player*/
.ap {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    user-select: none;
    border-top: 1px solid #ccc;
    height: 90px !important;
    background-color: #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    z-index: 1000;
}

.ap__inner {
    display: flex;
    height: 100%;
}

.ap__item {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.ap__item--playback > .ap__controls {
    flex: 0 25%;
}

.ap__item--settings > .ap__controls {
    flex: 0 10%;
}

.ap__item--title {
    justify-content: flex-start;
    height: 90px !important;
}

.ap__item--settings {
    justify-content: space-evenly;
    margin-right: 2rem;
}

@keyframes fs {
    0% {
        opacity: 0;
        transform: scale(.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/*track bar*/
.ap__item--track {
    display: block;
}

.ap__item img {
    width: auto;
    height: 100%;
}

.track {
    width: 5%;
    align-self: flex-start;
}

p.track__title,
p.pl-track__title {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8vw;
}

p.album-artist__title,
p.pl-album-artist__title {
    font-size: 0.8vw;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
    color: #616161;
}

p.pl-album-artist__title {
    font-size: 11px;
    margin: 0;
}

p.pl-track__title {
    font-size: 13px;
}

.track__info {
    margin-top: 1rem;
    margin-left: 1rem;
}

.track__time,
.pl-track__time {
    color: #757575;
    font-size: 12px;
    line-height: 12px;
    height: 12px;
}

.track__time {
    position: absolute;
    top: 15px;
    right: 0;
}

.progress-container {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
}

.progress-container:hover, .progress__bar:after {
    opacity: 1;
}

.ap.active .progress-container:hover .progress {
    background: #bdbdbd;
}

.progress {
    margin-bottom: 0;
    height: 3px;
    border-radius: 3px;
    background-color: transparent;
}

.progress__bar,
.progress__preload {
    width: 0;
    height: 3px;
    border-radius: 3px 0 0 3px;
}

.progress__bar {
    background: #ff5722;
    z-index: 1;
}

.progress__bar::after {
    top: 0;
    right: -10px;
    width: 10px;
    height: 10px;
    margin-top: -3px;
    content: '';
    border-radius: 6px;
    background: #ff5722;
    opacity: 0;
    transition: opacity .3s ease;
}

.progress__bar:active:after {
    transform: scale(1.4);

}

.progress__preload {
    background: #ddd;
    z-index: 0;
}

/* Controls*/
.ap .ap__controls--toggle i.fa-play {
    padding: 0.7em 0.8em;
    background-color: #e0e0e0;
    border-radius: 50%;
    color: white;
}

.ap.active .ap__controls--toggle i.fa-play {
    background-color: #ff5722;
}

.ap.active .ap__controls--toggle i.fa-pause {
    border-radius: 50%;
    padding: 0.7em 0.8em;
    color: white;
    background-color: #ff5722;
}

.ap .fa-step-backward,
.ap .fa-step-forward {
    background: transparent;
    color: #e0e0e0;
}

.ap.active .fa-step-backward,
.ap.active .fa-step-forward {
    color: black;
}

.ap .fa-heart,
.ap .fa-plus {
    opacity: 0;
}

.ap.active .fa-heart,
.ap.active .fa-plus {
    opacity: 1;
}

.ap__controls,
.ap button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: transparent;
    position: relative;
    display: block;
    height: 50px;
    text-align: center;
    cursor: pointer;
    transition: background .3s ease;
}

.ap.active button:active i {
    color: #ff5722;
}

.main-pause,
.main-play,
.fa-step-forward,
.fa-step-backward {
    transition: all 0.05s ease;
}

.ap.active button:active .main-pause,
.ap.active button:active .main-play {
    box-shadow: 0 0 0 10px rgba(52, 52, 52, 0.18);
}

.ap.active button:active .fa-step-forward,
.ap.active button:active .fa-step-backward {
    border-radius: 50%;
    padding: 0.7em 0.8em;
    background: rgba(52, 52, 52, 0.18);
    color: black;
}

.ap.active button:hover {
    opacity: 1;
}

.fa-pause {
    display: none;
}

.track__title p,
.pl-track__title p {
    margin-bottom: 0;
}

.track__time {
    opacity: 0;
}

.ap.active .track__time {
    opacity: 1;
}

/* Volume*/
.volume-btn {
    display: block;
    text-align: center;
    width: 100%;
}

.volume {
    position: absolute;
    left: 50%;
    bottom: 45px;
    width: 40px;
    margin-left: -20px;
    height: 120px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all .3s cubic-bezier(0.17, 0.72, 0.26, 1.23);
    background: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 1px;
    z-index: 88888;
}

.volume::before,
.volume::after {
    content: '';
    position: absolute;
    bottom: -12px;
    border: 7px solid transparent;
    border-top: 7px solid #f2f2f2;
    left: 50%;
    margin-left: -7px;
}

.volume::after {
    bottom: -14px;
    z-index: -1;
    border-top: 7px solid #ccc;
}

.volume-container:hover .volume {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.volume__track {
    position: relative;
    display: block;
    width: 3px;
    height: 100px;
    margin: 10px auto;
    background: #ddd;
    border-radius: 3px;
    overflow: hidden;
}

.volume__bar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ff5722;
    height: 50%;
}

.icon-volume-off {
    display: none;
}

.has-muted.icon-volume-on {

    display: none;
}

.has-muted.icon-volume-off {
    display: inline;
    opacity: .7;
}

.ap__controls.volume-container {
    display: flex;
    justify-content: center;
}

/*-----------------------
    Playlist Player
------------------------*/
/* playlist */
.playlist__section {
    background-color: #fefefe;
    position: fixed;
    border: 1px solid #ddd;
    margin-left: -50px;
    display: none;
    top: auto;
    left: auto;
    right: 32px;
    margin-right: 0;
    bottom: 110px;
    margin-bottom: 0;
    width: 100vw;
    max-height: calc(100vh - 110px - 64px - 24px);
    border-radius: 3px;
    transition: width 0.3s ease;
    outline: none;
    box-sizing: border-box;
    max-width: 732px;
    z-index: 103;
}

.pl-img {
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    width: 100%;
    height: 120px;
}

.pl-img img {
    width: 100%;
    filter: brightness(50%);
    vertical-align: top;
}

.pl-info {
    height: 120px;
    padding: 0 16px 25px 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pl-title {
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin: 0;
}

.mini-playlist {
    overflow-y: scroll;
    height: calc(100% - 120px);
    transform: translate(0, 0);
    max-height: calc(100vh - 110px - 64px - 24px - 120px);
    min-height: 260px;
}

.search-pl-info p.pl-track__title {
    font-size: 15px;
}

.search-pl-info p.pl-album-artist__title {
    font-size: 13px;
}

.queue-empty {
    height: 100%;
    margin: 2%;
}

.material-empty {
    justify-content: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.empty-message {
    margin: 16px auto 12px;
    font-size: 20px;
    font-weight: 500;
}

.empty-message,
.empty-submessage {
    text-align: center;
    color: #616161;
}

.empty-submessage {
    margin: 0 auto;
    font-size: 14px;
    line-height: 20px;
}

.playlist-menu {
    display: none;
    background: #fff;
    cursor: default;
    font: normal 13px Arial, sans-serif;
    margin: 0;
    outline: none;
    position: absolute;
    z-index: 20000;
    border: 0 solid transparent !important;
    border-radius: 2px;
    padding: 16px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37) !important;
    width: auto;
    transition: height 0.3s ease;
    transform: translate(0, 0);
    min-height: 0;
    overflow-y: auto;
    max-height: 100%;

}

.user-playlist-list {
    list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.create-playlist,
.user-playlist-list li {
    font-size: 15px;
    height: 32px;
    line-height: 32px;
    padding: 0 24px;
    margin: 0 !important;
    color: #212121;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.create-playlist:hover,
.user-playlist-list li:hover {
    background-color: #eeeeee;
}

.create-playlist:focus {
    outline: none;
}

.menu-separator {
    background: #eeeeee !important;
    margin: 6px 0 !important;
    height: 1px !important;
}

h2.title {
    position: relative;
    margin: 0;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
}

.new-playlist__name {
    width: 100%;
    max-width: 100%;
    background: #ffffff;
    color: #212121;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 30px 0;
}

.new-playlist__name label,
.new-playlist__access label {
    font: inherit;
    color: #616161;
    -webkit-transition: -webkit-transform 0.25s, width 0.25s;
    transition: transform 0.25s, width 0.25s;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.new-playlist__name input {
    color: #212121;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    border: none;
    border-bottom: 1px solid #212121;
    transition: border-bottom-color 0.5s ease;
}

.new-playlist__name input:focus {
    outline: none;
    border-bottom: 1px solid #c34920;
}

.buttons {
    float: right;
}

.buttons button {
    color: #ff5722;
    margin: 0 0.29em;
    text-transform: uppercase;
    outline-width: 0;
    cursor: pointer;
    z-index: 0;
    padding: 0.7em 0.57em;
    font-family: 'Roboto', 'Noto', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
}

.buttons button:focus {
    background-color: rgba(255, 87, 34, 0.22);
}

.new-playlist__access {
    display: flex;
}

.new-playlist__access__input {
    opacity: 0;
}

.new-playlist__access__label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border: 1px solid #212121;
}

.new-playlist__access__input:focus + .new-playlist__access__label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.new-playlist__access__input:checked + .new-playlist__access__label:after {
    content: '\2713\0020';
    position: absolute;
    top: .17em;
    left: 1.15em;
    font-size: 1.3em;
    line-height: 0.8;
    color: #ff5722;
    transition: all .2s;
}

span.user-playlist-subtitle {
    text-transform: lowercase;
    color: #757575;
    font-style: italic;
    font-size: 12px;
}

.playlist__header {
    flex-direction: row;
}

.playlist__picture {
    /* height: auto; */
    width: 15%;
    border-radius: 2%;
}

.playlist__picture img {
    width: 100%;
}

.artist .playlist__picture img {
    border-radius: 50%;
}

.playlist__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist__subtitle {
    font-size: 1rem;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #616161;
    margin-left: 15px;
}

.artist-page .outline-pagination .underline {
    display: none;
}

.artist-page .outline-pagination {
    float: right;
}

#playlist-section .artist-page h3 {
    font-size: 18px;
    font-weight: bolder;
    line-height: 24px;
    color: #212121;
    cursor: default;
    margin: 0 0 0 30px;
}

.artist-page .card-playlist-hover-subtitle {
    display: none;
}

.artist-page .card {
    overflow: visible;
    white-space: nowrap;
    background-color: white;
    margin: 8px;
    border-radius: 2px;
    font-weight: 300;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}

.artist-page .card:hover {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.3);
}

.artist-page .card .card-playlist-hover-details {
    padding: 5%;
}

.artist-page .card .card-playlist-hover-title {
    font-size: 0.9rem;
    color: #212121;
}

/*music library*/
.music-library {
    position: fixed;
    margin-top: 1.3em;
    left: 2%;
    z-index: 5;
    cursor: pointer;
}

.music-library:hover {
    opacity: 0.8;
}

.music-library:active {
    background-color: rgba(255, 87, 34, 0.22);
}

.music-library i {
    display: flex;
    justify-content: center;
    color: #ff5722;
    font-size: 1.5em;
}

.music-library p {
    overflow: hidden;
    margin-top: 4px;
    font-size: 10px;
    line-height: 10px;
    text-align: center;
    color: #212121;
}

.tabs, .tabs-content {
    background-color: transparent;
    border: none;
    color: #212121;
}

.tabs {
    border-bottom:1px solid rgba(0, 0, 0, 0.37);
}

.tabs-title a {
    color: #212121;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 0.8;
    font-size: 0.9rem;
}

.tabs-title.is-active a {
    opacity: 1;
    border-bottom: 2px solid #ff5722;
    background-color: inherit;
    color: #212121;
    outline: none;
}

.tabs-title a:hover{
    background-color: inherit;
    color: inherit;
}
.tabs-panel.is-active{
    display: flex;
}

/*media*/
@media (max-width: 1024px) {
    .ap__item > .ap__controls {
        flex: 1;
    }

    .card-playlist-hover-icons {
        top: 50%;
        left: 50%;
    }
}

@media (max-width: 600px) {
    .ap {
        min-width: 250px;
    }

    .ap, .ap__inner {
        height: auto;
    }

    .ap__item--track {
        margin-bottom: 1px;
        order: 1;
        flex: 1 1 100%;
    }

    .ap__item--playback,
    .ap__item--settings {
        order: 2;
    }

    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
        flex: 0;
    }

    .fa-arrow-right {
        display: flex;
    }

    i.fa-dice-three {
        font-size: 1em;
    }

    .logo p {
        display: none;
    }

    .search-form::placeholder {
        color: transparent;
    }

    .playlist__section {
        width: 60vw;
    }

    .card-playlist-hover-title {
        font-size: 0.7em;
    }

    .card-playlist-hover-subtitle {
        font-size: 0.5em;
    }

    .playlist__picture {
        height: auto;
    }
}

