
.has-tip {
    border-bottom: none;
}

button:focus {
    outline: none;
}

i:focus {
    outline: none;
}

div:focus {
    outline: none;
}

li:focus {
    outline: none;
}

a {
    color: inherit;
}

a:hover,
a:focus,
a:active {
    color: inherit;
}

a.underline-link:hover,
a.underline-link:focus,
a.underline-link:active {
    text-decoration: underline;
}

h3 {
    margin-left: 13px;
}

body {
    font-family: 'Roboto', arial, 'Noto Sans Japanese', sans-serif;
    background-color: #f5f5f5;
    width: 100% !important;
    height: 100% !important;
}

body {
    overflow-y: hidden;
}

main {
    margin-top: 64px;
    height: calc(100% - 90px - 64px);
    overflow-y: auto !important;
}

/*media*/
@media (max-width: 1024px) {
    #recommendedPlaylist img {
        height: 100px !important;
    }

    .ap__item > .ap__controls {
        flex: 1;
    }

    .card-playlist-hover-icons {
        top: 50%;
        left: 50%;
    }

    #playlist-section h3 {
        font-size: 1.1875rem;
    }

    i.fa-dice-three {
        font-size: 1.1em;
    }

    .music-library i {
        font-size: 1.3em;
    }
}

@media (max-width: 800px) {
    .card.card-playlist-hover.genre.slide {
        height: 90px!important;
    }

    .card.card-playlist-hover.genre.slide .card-playlist-hover-details p {
        font-size: 14px!important;
    }
}

@media (max-width: 600px) {
    #recommendedPlaylist img {
        height: 50px !important;
    }

    .playlist__title {
        font-size: 1rem;
    }

    .ap {
        min-width: 250px;
    }

    .ap, .ap__inner {
        height: auto;
    }

    .ap__item--track {
        margin-bottom: 1px;
        order: 1;
        flex: 1 1 100%;
    }

    .ap__item--playback,
    .ap__item--settings {
        order: 2;
    }

    .top-bar .top-bar-left,
    .top-bar .top-bar-right {
        flex: 0;
    }

    .fa-arrow-right {
        display: flex;
    }

    i.fa-dice-three {
        font-size: 1em;
    }

    .logo p {
        display: none;
    }

    .search-form::placeholder {
        color: transparent;
    }

    .playlist__section {
        width: 60vw;
    }

    .card-playlist-hover-title {
        font-size: 0.7em;
    }

    .card-playlist-hover-subtitle {
        font-size: 0.5em;
    }

    .playlist__picture {
        height: auto;
    }
}

@media (max-height: 800px) {
    #recommendedPlaylist img {
        height: 100px !important;
    }

    .genres-playlists {
        margin: 10vh 0 20vh;
    }

    .top-public-playlists {
        height: 50vh !important;
    }

    .grid-container {
        max-width: 75%;
    }

}

@media (max-height: 900px) {
    .genres-playlists {
        margin: 15vh 0 20vh;
    }
}
